* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
 
}
body{

  background-color: #000000;
}
header{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1{
  flex: 1;
  text-align: center;
}

main{
  background-image: url("images/Audi-R8.png");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: 50%, 0%;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 400px;
  
}

main div.box{
  display: flex;
  flex-direction: column;
  flex: .9;
  font-size: 15px;
  justify-content: center;
  border: white solid 4px;
  border-radius: 10px;
  padding: 20px;
  background-color:#e01a1b;
  color: white;
  height: 80%;
  transform: skew(-20deg);
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 0;
}

main div{
  transform: skew(20deg);
  padding-left: 40px;
}

h1, p{
  flex: 0.5;
}

p{
  margin: px 0;
}

form{
  margin: 0;
}
ul{
  margin: 0px;
  margin-bottom: 10px;
  list-style-type: none;
}

button{
  max-width: 70px;
  margin-left: 0px;
  max-height: 30px;
}

footer{
  background-image: url("images/audi-logo.png");
  background-color: black;
  background-repeat: no-repeat;
  height: 150px;
  background-size: 300px;
  background-position: 50% -30px;
}

@media all and (min-width: 600px){
  header{
    padding-top: 18vh;
  }

  main div{
    font-size: 20px;
    max-width: 500px;
  }

  main{
    background-size: 700px;
  }
}