* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
 
}
body{
  background-color: #000000;
}
header{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1{
  flex: 1;
  text-align: center;
}

main{
  background-image: url("images/Audi-R8.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%, 0%;
  display: flex;
  justify-content: center;
  margin: 0 40px;
  height: 400px;
}

main div{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 500px;
  border: black solid 2px;
  border-radius: 10px;
  padding: 20px;
  background-color: #2640b6;
  opacity: 90%;
  color: #e4f1fe;
  min-height: 60%;
  max-height: 80%;
  margin-top: 50px;
}

h1, p, button{
  flex: 1;
}

ul{
  margin: 0px;
  margin-bottom: 10px;
  list-style-type: none;
}

button{
  max-width: 60px;
  margin-left: 40px;
  max-height: 30px;
}